.about-section {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    background-image: var(--section-background-color) !important;
    color: white !important;
}

@media (max-width: 767px) {
    .about-img {
      padding-top: 0 !important;
    }
}