.myAvtar {
    justify-content: center !important;
    padding-top: 9em !important;
}
  
@media (max-width: 767px) {
.myAvtar {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
}

.intro-section {
    position: relative;
    padding-bottom: 70px !important;
    padding-top: 70px !important;
}

.intro-description {
    color: white !important;
    padding-top: 100px !important;
    padding-bottom: 20px !important;
    text-align: center;
}

.intro-body {
    padding-top: 50px;
    font-size: 1.2em !important;
    text-align: left;
}

.intro-social {
    text-align: center !important;
    padding-top: 25px;
    color: white !important;
}

.intro-social-links {
    justify-content: center !important;
    padding-top: 15px !important;
    display: inline-block !important;
    position: relative !important;
    padding-inline-start: 0 !important;
}

.intro-social-icons {
    position: relative !important;
    display: inline-block !important;
    width: 40px !important;
    height: 40px !important;
    text-align: center !important;
    font-size: 1.2em !important;
    line-height: 2em !important;
    background: rgba(255, 255, 255, 0.972) !important;
    border-radius: 50% !important;
    transition: 0.5s !important;
}

.intro-social-icons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #eb3030;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
}

.intro-social-icons:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #e94545;
}

.intro-social-icons:hover {
    color: #eb3030;
    box-shadow: 0 0 5px #eb3030;
    text-shadow: 0 0 2px #eb3030;
}

.social-icons {
    display: inline-block !important;
    padding-right: 15px;
    padding-left: 15px;
}

.icon-colour {
    color: #720000 !important;
}