.quote-card-view {
    border: none !important;
    color: white !important;
    background-color: transparent !important;
}
  
.about-activity {
    list-style: none !important;
    text-align: left !important;
    padding-left: 1px !important;
}
  
.blockquote-footer {
  color: #f75d5dbb !important;
}

.blockquote-text {
  color: #f75d5dbb !important;
}