@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");

html {
  scrollbar-color: #eb3030 #501717 !important;  /*Scrollbar For FireFox*/     
  scrollbar-width: auto !important;                                    /* --------- */

  --section-background-color: linear-gradient(
    to bottom left,
    rgba(43, 7, 7, 0.329),
    rgba(0, 0, 0, 0.582)
  );

  --image-gradient: linear-gradient(
    to bottom left,
    rgba(43, 7, 7, 0.89),
    rgba(0, 0, 0, 0.582)
  );

  --imp-text-color: #eb3030;
}

.purple {
  color: var(--imp-text-color) !important;
}

body {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(48, 1, 1), rgb(24, 0, 0));
}


/* --------- */
/*Scrollbar   */
/*Only in WebKit-based browser (like Chrome or Edge)*/
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #501717;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eb3030;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8f0f0f;
  border-radius: 12px;
}



.btn-primary {
  color: #fff;
  background-color: #b92c2cbd;
  border-color: #b92c2cbd;
}

.btn-primary:hover {
  color: #fff;
  background-color: #bd1f1f;
  border-color: #f8f8f8;
}
.btn:focus {
  outline: none;
  box-shadow: none;
}